In [1]:
import os
import pandas as pd
import zipfile
import csv
from io import StringIO
import mysql.connector
import re

### Testing on home server

In [ ]:
try:
    connection = mysql.connector.connect(
        host = '192.168.1.26',
        user = 'aportra',
        password = '@$Occer22',
        database = 'wedge_assignment')

    cursor = connection.cursor()
except mysql.connector.Error as err:
    print(f'{err}')

finally:
    if connection.is_connected():
        connection.close()
        print('Connection Closed')
    
    if cursor:
        print('Cursor created')

#### Setting Directory for Mac and Windows

In [19]:
try:
    directory_small = '/Users/aaronportra/Documents/ADA/wedge_project/WedgeZipOfZips_small/'
    directory = '/Users/aaronportra/Documents/ADA/wedge_project/WedgeZipOfZips/'
    os.listdir(directory)
except FileNotFoundError:
    directory_small = 'C:\\Users\\aport\\OneDrive\\Documents\\School\\Fall Semester 2024\\Applied Data Analytics\\wedge_project\\WedgeZipOfZips_small\\'
    directory = 'C:\\Users\\aport\\OneDrive\\Documents\\School\\Fall Semester 2024\\Applied Data Analytics\\wedge_project\\WedgeZipOfZips\\'
    os.listdir(directory)

## Cleaning Data for BQ

In [5]:
def sniff(file):

    file = StringIO(file)

    sample = file.read(10000)

    sniffer = csv.Sniffer()

    file.seek(0)

    delimiter = sniffer.sniff(sample).delimiter


    reader = csv.reader(file, delimiter=delimiter)

    first_row = next(reader)

    has_header = sniffer.has_header(sample)


    if len(first_row) < 50:
        has_header = False

    return delimiter, has_header

In [ ]:
# transactions = {}

# for file in os.listdir(directory):
#     if file.endswith('.zip'):
#         with zipfile.ZipFile(os.path.join(directory, file),'r') as zip_file:
#             for info in zip_file.namelist():
    
#                 file_content = zip_file.read(info).decode('utf-8',errors = 'replace')

#                 csv_file = StringIO(file_content)

#                 h = sniff(file_content)

#                 csv_file.seek(0)

#                 if h[1]:
#                     data = pd.read_csv(csv_file, delimiter=h[0])
#                     data = pd.DataFrame(data)

#                     columns = data.columns


#                 elif not h[1]:
#                     data = pd.read_csv(csv_file, delimiter = h[0], header = None)
#                     data = pd.DataFrame(data)
#                     data.columns = columns
 

#             transactions[file.rstrip('.zip')] = data

In [10]:
#Removing Null values and replacing with white space
def del_nan(data):
    for trans in data:
        data[trans] = data[trans].fillna('')

#Adding space to text. Example: ChickenBreast -> Chicken Breast
def add_space(text):
    if isinstance(text,str):
        return re.sub(r'([a-z])([A-Z])',r'\1 \2',text)

    return text

In [29]:
def create_db(directory):
    transactions = {}

    for file in os.listdir(directory):
        if file.endswith('.zip'):
            with zipfile.ZipFile(os.path.join(directory, file),'r') as zip_file:
                for info in zip_file.namelist():
        
                    file_content = zip_file.read(info).decode('utf-8',errors = 'replace')

                    csv_file = StringIO(file_content)

                    h = sniff(file_content)

                    csv_file.seek(0)

                    if h[1]:
                        data = pd.read_csv(csv_file, delimiter=h[0])
                        data = pd.DataFrame(data)

                        columns = data.columns


                    elif not h[1]:
                        data = pd.read_csv(csv_file, delimiter = h[0], header = None)
                        data = pd.DataFrame(data)
                        data.columns = columns
    

                transactions[file.rstrip('.zip')] = data

    del_nan(transactions)

    for trans in transactions:
        for column in transactions[trans]:
            if transactions[trans][column].dtypes == 'O':
                transactions[trans][column] = transactions[trans][column].apply(add_space)

    return transactions

In [27]:
small_zips = create_db(directory_small)

# full_zips = create_db(directory)

In [28]:
for i in small_zips:
    for y in small_zips[i]:
        print(small_zips[i][y])

0       2013-10-01 07:11:53
1       2013-10-01 07:11:53
2       2013-10-01 07:11:53
3       2013-10-01 07:11:53
4       2013-10-01 07:11:53
               ...
9995    2013-10-01 13:58:30
9996    2013-10-01 13:58:33
9997    2013-10-01 13:58:36
9998    2013-10-01 13:58:37
9999    2013-10-01 13:58:42
Name: datetime, Length: 10000, dtype: object
0       700
1       700
2       700
3       700
4       700
       ...
9995      5
9996      5
9997      4
9998      5
9999      5
Name: register_no, Length: 10000, dtype: int64
0       700
1       700
2       700
3       700
4       700
       ...
9995     76
9996     76
9997     71
9998     76
9999     76
Name: emp_no, Length: 10000, dtype: int64
0       829
1       829
2       829
3       829
4       829
       ...
9995     37
9996     37
9997     28
9998     37
9999     37
Name: trans_no, Length: 10000, dtype: int64
0       0000000009118
1       0000000009120
2       0000000009122
3       0000000009123
4       0020398500000
            ...
9995    0004318200208
9996    0004318200208
9997    0000000000671
9998    0073291322733
9999    0000000000383
Name: upc, Length: 10000, dtype: object
0       KB:Tofu Creole/Br.Rice/Adult
1           KB:Beef Stroganoff/Adult
2          KB:Chkn.Noodle Soup/Child
3         KB:Honey Carrot Cake/Adult
4              Catering Delivery Fee
                    ...
9995        O.Coconut Milk 13.5oz NF
9996        O.Coconut Milk 13.5oz NF
9997         Pepper Bell Green Local
9998      F&C Dish Liquid 25oz 7th G
9999        GARLIC Non-Local Organic
Name: description, Length: 10000, dtype: object
0       I
1       I
2       I
3       I
4       I
       ..
9995    I
9996    I
9997    I
9998    I
9999    I
Name: trans_type, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: trans_subtype, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: trans_status, Length: 10000, dtype: object
0       8
1       8
2       8
3       8
4       8
       ..
9995    1
9996    1
9997    2
9998    1
9999    2
Name: department, Length: 10000, dtype: int64
0       1.00
1       1.00
2       1.00
3       2.00
4       0.00
        ...
9995    1.00
9996    1.00
9997    0.82
9998    1.00
9999    0.12
Name: quantity, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    0
9999    1
Name: Scale, Length: 10000, dtype: int64
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
9995    1.777
9996    1.777
9997    0.000
9998    2.646
9999    0.000
Name: cost, Length: 10000, dtype: float64
0       10.00
1       10.00
2        5.00
3        2.25
4        0.01
        ...
9995     1.99
9996     1.99
9997     3.49
9998     3.99
9999     4.99
Name: unitPrice, Length: 10000, dtype: float64
0       10.00
1       10.00
2        5.00
3        4.50
4        0.00
        ...
9995     1.99
9996     1.99
9997     2.86
9998     3.99
9999     0.60
Name: total, Length: 10000, dtype: float64
0       10.00
1       10.00
2        5.00
3        2.25
4        0.01
        ...
9995     2.69
9996     2.69
9997     3.49
9998     3.99
9999     4.99
Name: regPrice, Length: 10000, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: altPrice, Length: 10000, dtype: float64
0       1
1       1
2       1
3       1
4       1
       ..
9995    0
9996    0
9997    0
9998    1
9999    0
Name: tax, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: taxexempt, Length: 10000, dtype: object
0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    1
9998    0
9999    1
Name: foodstamp, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: wicable, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.7
9996    0.7
9997    0.0
9998    0.0
9999    0.0
Name: discount, Length: 10000, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: memDiscount, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: discountable, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    0
9999    0
Name: discounttype, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: voided, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    3.0
9996    3.0
9997    2.0
9998    3.0
9999    3.0
Name: percentDiscount, Length: 10000, dtype: object
0       1.00
1       1.00
2       1.00
3       2.00
4       1.00
        ...
9995    1.00
9996    1.00
9997    0.82
9998    1.00
9999    0.12
Name: ItemQtty, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: volDiscType, Length: 10000, dtype: int64
0       1
1       1
2       1
3       2
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: volume, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: VolSpecial, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: mixMatch, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: matched, Length: 10000, dtype: int64
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: memType, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995
9996
9997
9998
9999
Name: staff, Length: 10000, dtype: object
0       1
1       1
2       1
3       1
4       1
       ..
9995    0
9996    0
9997    1
9998    2
9999    4
Name: numflag, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: itemstatus, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: tenderstatus, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: charflag, Length: 10000, dtype: object
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: varflag, Length: 10000, dtype: int64
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: batchHeaderID, Length: 10000, dtype: object
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: local, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    1.0
9996    1.0
9997    0.0
9998    0.0
9999    1.0
Name: organic, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: display, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: receipt, Length: 10000, dtype: object
0           3
1           3
2           3
3           3
4           3
        ...
9995    25489
9996    25489
9997    23306
9998    25489
9999    25489
Name: card_no, Length: 10000, dtype: int64
0       512
1       512
2       512
3       512
4       512
       ...
9995      1
9996      1
9997      1
9998      1
9999      1
Name: store, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: branch, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: match_id, Length: 10000, dtype: object
0        1
1        2
2        3
3        4
4        6
        ..
9995    33
9996    35
9997    24
9998    37
9999    38
Name: trans_id, Length: 10000, dtype: int64
0       2012-07-01 08:20:15
1       2012-07-01 08:20:17
2       2012-07-01 08:20:20
3       2012-07-01 08:20:21
4       2012-07-01 08:20:27
               ...
9995    2012-07-01 12:42:48
9996    2012-07-01 12:42:48
9997    2012-07-01 12:42:49
9998    2012-07-01 12:42:49
9999    2012-07-01 12:42:50
Name: datetime, Length: 10000, dtype: object
0       16
1       16
2       16
3       16
4       16
        ..
9995     5
9996     2
9997     5
9998     2
9999     6
Name: register_no, Length: 10000, dtype: int64
0       54
1       54
2       54
3       54
4       54
        ..
9995    30
9996     7
9997    30
9998     7
9999    79
Name: emp_no, Length: 10000, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
9995    40
9996    47
9997    40
9998    47
9999    44
Name: trans_no, Length: 10000, dtype: int64
0       0000000009506
1       0000000009505
2       0000000009504
3       0000000009508
4       0020901500000
            ...
9995    0001356200016
9996    0020200800000
9997    0077000901048
9998    0020305600000
9999    0008411403240
Name: upc, Length: 10000, dtype: object
0              Offsite: Plain Croissant
1          Offsite: Chocolate Croissant
2             Offsite: Almond Croissant
3          Offsite: Cream Cheese Danish
4             Offsite: Blueberry Muffin
                     ...
9995      Cinn.Bunny Grahams 7.5oz An H
9996               Brazilian Rice Salad
9997         Large Baking Cups 60ct IYC
9998                      Sloppy Robin
9999    Salt&Pep.Krinkle Chips 13oz Ket
Name: description, Length: 10000, dtype: object
0       I
1       I
2       I
3       I
4       I
       ..
9995    I
9996    I
9997    I
9998    I
9999    I
Name: trans_type, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: trans_subtype, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: trans_status, Length: 10000, dtype: object
0       17
1       17
2       17
3       17
4        8
        ..
9995     1
9996     8
9997     1
9998     8
9999     1
Name: department, Length: 10000, dtype: int64
0       7.000000
1       4.000000
2       4.000000
3       4.000000
4       7.000000
          ...
9995    1.000000
9996    0.799666
9997    1.000000
9998    0.699399
9999    1.000000
Name: quantity, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Scale, Length: 10000, dtype: int64
0       0.210
1       0.350
2       0.430
3       0.000
4       0.520
        ...
9995    2.300
9996    0.000
9997    1.062
9998    1.170
9999    3.036
Name: cost, Length: 10000, dtype: float64
0       1.39
1       1.59
2       1.59
3       2.25
4       1.63
        ...
9995    2.49
9996    5.99
9997    1.89
9998    4.99
9999    3.49
Name: unitPrice, Length: 10000, dtype: float64
0        9.73
1        6.36
2        6.36
3        9.00
4       11.41
        ...
9995     2.49
9996     4.79
9997     1.89
9998     3.49
9999     3.49
Name: total, Length: 10000, dtype: float64
0       1.39
1       1.59
2       1.59
3       2.25
4       1.63
        ...
9995    3.59
9996    5.99
9997    1.89
9998    4.99
9999    4.89
Name: regPrice, Length: 10000, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: altPrice, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    1
9997    1
9998    1
9999    0
Name: tax, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: taxexempt, Length: 10000, dtype: object
0       1
1       1
2       1
3       1
4       1
       ..
9995    1
9996    1
9997    0
9998    0
9999    1
Name: foodstamp, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: wicable, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    1.1
9996    0.0
9997    0.0
9998    0.0
9999    1.4
Name: discount, Length: 10000, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: memDiscount, Length: 10000, dtype: float64
0       1
1       1
2       1
3       1
4       1
       ..
9995    1
9996    7
9997    1
9998    7
9999    1
Name: discountable, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    0
9997    0
9998    0
9999    1
Name: discounttype, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: voided, Length: 10000, dtype: int64
0
1
2
3
4
       ...
9995    2.0
9996    0.0
9997    2.0
9998    0.0
9999    0.0
Name: percentDiscount, Length: 10000, dtype: object
0       7.0
1       4.0
2       4.0
3       4.0
4       7.0
       ...
9995    1.0
9996    1.0
9997    1.0
9998    1.0
9999    1.0
Name: ItemQtty, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: volDiscType, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: volume, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: VolSpecial, Length: 10000, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: mixMatch, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: matched, Length: 10000, dtype: int64
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: memType, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: staff, Length: 10000, dtype: object
0         1
1         1
2         1
3         1
4         1
       ...
9995      0
9996    513
9997      0
9998      1
9999      0
Name: numflag, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: itemstatus, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: tenderstatus, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: charflag, Length: 10000, dtype: object
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: varflag, Length: 10000, dtype: int64
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: batchHeaderID, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: local, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    3.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: organic, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: display, Length: 10000, dtype: object
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: receipt, Length: 10000, dtype: object
0       50054
1       50054
2       50054
3       50054
4       50054
        ...
9995    20871
9996    14140
9997    20871
9998    14140
9999        3
Name: card_no, Length: 10000, dtype: int64
0       16
1       16
2       16
3       16
4       16
        ..
9995     1
9996     1
9997     1
9998     1
9999     1
Name: store, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: branch, Length: 10000, dtype: int64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: match_id, Length: 10000, dtype: object
0        4
1        5
2        6
3        7
4        8
        ..
9995    16
9996    10
9997    18
9998    11
9999     1
Name: trans_id, Length: 10000, dtype: int64
0       2012-04-01 09:18:09
1       2012-04-01 09:18:12
2       2012-04-01 09:18:17
3       2012-04-01 09:18:18
4       2012-04-01 09:18:20
               ...
9995    2012-04-04 16:02:46
9996    2012-04-04 16:02:47
9997    2012-04-04 16:02:47
9998    2012-04-04 16:02:47
9999    2012-04-04 16:02:51
Name: datetime, Length: 10000, dtype: object
0       5
1       5
2       5
3       5
4       5
       ..
9995    7
9996    7
9997    7
9998    3
9999    3
Name: register_no, Length: 10000, dtype: int64
0       34
1       34
2       34
3       34
4       34
        ..
9995    36
9996    36
9997    36
9998    49
9999    49
Name: emp_no, Length: 10000, dtype: int64
0        8
1        8
2        8
3        8
4        8
        ..
9995    21
9996    21
9997    21
9998    16
9999    16
Name: trans_no, Length: 10000, dtype: int64
0       0007234000126
1       0005342300076
2       0007835550050
3       0007835550050
4       0020200300000
            ...
9995    0082202300002
9996    0000000008023
9997    0000000008023
9998    0000000013855
9999    0000000000182
Name: upc, Length: 10000, dtype: object
0                  1% Milk SR 64oz Sch
1         O.Fat Flush Tortillas 8oz FM
2            Pom.Greek Yogurt 6oz Gods
3            Pom.Greek Yogurt 6oz Gods
4                     Spinach Frittata
                     ...
9995    Organic 2% Milk Glass 64oz Ced
9996       DEPOSIT Cedar Summit Bottle
9997       DEPOSIT Cedar Summit Bottle
9998     NUTS Soynuts Rstd No Salt Org
9999    ORANGES Juice/Valencia Organic
Name: description, Length: 10000, dtype: object
0       I
1       I
2       I
3       I
4       I
       ..
9995    I
9996    I
9997    I
9998    I
9999    I
Name: trans_type, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: trans_subtype, Length: 10000, dtype: object
0
1
2
3
4
       ..
9995
9996
9997
9998
9999
Name: trans_status, Length: 10000, dtype: object
0       4
1       4
2       4
3       4
4       8
       ..
9995    4
9996    4
9997    4
9998    3
9999    2
Name: department, Length: 10000, dtype: int64
0       1.000000
1       1.000000
2       1.000000
3       1.000000
4       0.500715
          ...
9995    1.000000
9996    1.000000
9997    1.000000
9998    1.090000
9999    0.940000
Name: quantity, Length: 10000, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    1.0
9999    1.0
Name: Scale, Length: 10000, dtype: float64
0       1.680
1       2.160
2       0.988
3       0.988
4       2.220
        ...
9995    3.870
9996    0.000
9997    0.000
9998    2.050
9999    0.000
Name: cost, Length: 10000, dtype: float64
0       2.09
1       3.99
2       1.69
3       1.69
4       6.99
        ...
9995    4.79
9996    2.00
9997    2.00
9998    3.69
9999    1.29
Name: unitPrice, Length: 10000, dtype: float64
0       2.09
1       3.99
2       1.69
3       1.69
4       3.50
        ...

In [43]:
save_path = '/Users/aaronportra/Documents/Advanced Data Analytics/wedge_project/clean_transactions/'

for trans in transactions:
    df = transactions[trans].to_csv(save_path + trans + '.csv', encoding = 'utf-8', index = False,)